* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #ecf2f8;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  margin: 24px;
  column-gap: 30px;
  row-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header header nacari part "
    "tetri article article  part";
}

.box1 {

  flex-shrink: 0;
  grid-area: header;
  background: #733fc8;
  border-radius: 8px;
  padding: 32px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.box1-icon-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
}

.box1-header {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.box1-author {

  font-size: 13px;
  font-weight: 500;
  line-height: 13px; /* 100% */
}

.box1-under-author {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px; /* 100% */
  opacity: 0.5;
}

.box1-mid {

  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.box1-btm {

  color: #cfcfcf;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  opacity: 0.7;
}

.box2 {

  flex-shrink: 0;
  grid-area: nacari;
  background: #48556a;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  padding: 32px;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.box2-icon-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
}

.box2-header {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.box2-author {

  font-size: 13px;
  font-weight: 500;
  line-height: 13px; /* 100% */
}

.box2-under-author {

  font-size: 11px;
  font-weight: 500;
  line-height: 11px; /* 100% */
  opacity: 0.5;
}

.box2-mid {

  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.box2-btm {

  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  opacity: 0.7;
}

.box3 {

  flex-shrink: 0;
  grid-area: tetri;
  background: #fff;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  padding: 32px;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.box3-icon-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
}

.box3-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  color: #48556a;
}

.box3-author {

  font-size: 13px;
  font-weight: 500;
  line-height: 13px; /* 100% */
}

.box3-under-author {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px; /* 100% */
  opacity: 0.5;
}

.box3-mid {

  color: #48556A;
font-size: 20px;
font-weight: 600;
}

.box3-btm {

  color: #48556A;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  opacity: 0.7;
}

.box4 {

  flex-shrink: 0;
  grid-area: article;
  background: #19202d;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  border-radius: 8px;
  padding: 32px;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.box4-icon-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
}

.box4-header {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.box4-author {

  font-size: 13px;
  font-weight: 500;
  line-height: 13px; /* 100% */
}

.box4-under-author {

  font-size: 11px;
  font-weight: 500;
  line-height: 11px; /* 100% */
  opacity: 0.5;
}

.box4-mid {

  color: #ECF2F8;
  font-size: 20px;
  font-weight: 600;
}

.box4-btm {

  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  opacity: 0.7;
}

.box5 {

  flex-shrink: 0;
  grid-area: part;
  background-color: white;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  padding: 32px;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.box5-icon-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;
}

.box5-header {
  color: #48556a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.box5-author {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px; /* 100% */
}

.box5-under-author {

  font-size: 11px;
  font-weight: 500;
  line-height: 11px; /* 100% */
  opacity: 0.5;
}

.box5-mid {

  color: #48556A;
  font-size: 20px;
  font-weight: 600;
}

.box5-btm {

  color: #48556A;
font-size: 13px;
font-weight: 500;
line-height: 18px; /* 138.462% */
  opacity: 0.7;
}

@media only screen and (max-width:1155px) {

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
  }
  
  body {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #ecf2f8;
  }
  

  
  .grid-container {
    display: grid;
    margin: 24px;
    row-gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header" 
    "nacari"
    "tetri" 
    "article"   
    "part";
    width: 100%;
  }
  
  .box1 {
    grid-area: header;
    background: #733fc8;
    border-radius: 8px;
    padding: 32px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .box1-icon-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
  }
  
  .box1-header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
  
  .box1-author {

    font-size: 13px;
    font-weight: 500;
    line-height: 13px; /* 100% */
  }
  
  .box1-under-author {
    font-size: 11px;
    font-weight: 500;
    line-height: 11px; /* 100% */
    opacity: 0.5;
  }
  
  .box1-mid {

    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  
  .box1-btm {

    color: #cfcfcf;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    opacity: 0.7;
  }
  
  .box2 {
    grid-area: nacari;
    background: #48556a;
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    padding: 32px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .box2-icon-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
  }
  
  .box2-header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
  
  .box2-author {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px; /* 100% */
  }
  
  .box2-under-author {

    font-size: 11px;
    font-weight: 500;
    line-height: 11px; /* 100% */
    opacity: 0.5;
  }
  
  .box2-mid {

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
  }
  
  .box2-btm {

    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    opacity: 0.7;
  }
  
  .box3 {

    flex-shrink: 0;
    grid-area: tetri;
    background: #fff;
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    padding: 32px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .box3-icon-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
  }
  
  .box3-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    color: #48556a;
  }
  
  .box3-author {
    font-size: 13px;
    font-weight: 500;
    line-height: 13px; /* 100% */
  }
  
  .box3-under-author {
    font-size: 11px;
    font-weight: 500;
    line-height: 11px; /* 100% */
    opacity: 0.5;
  }
  
  .box3-mid {

    color: #48556A;
  font-size: 20px;
  font-weight: 600;
  }
  
  .box3-btm {

    color: #48556A;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    opacity: 0.7;
  }
  
  .box4 {

    flex-shrink: 0;
    grid-area: article;
    background: #19202d;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    border-radius: 8px;
    padding: 32px;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .box4-icon-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
  }
  
  .box4-header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
  
  .box4-author {

    font-size: 13px;
    font-weight: 500;
    line-height: 13px; /* 100% */
  }
  
  .box4-under-author {

    font-size: 11px;
    font-weight: 500;
    line-height: 11px; /* 100% */
    opacity: 0.5;
  }
  
  .box4-mid {

    color: #ECF2F8;
    font-size: 20px;
    font-weight: 600;
  }
  
  .box4-btm {

    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    opacity: 0.7;
  }
  
  .box5 {

    flex-shrink: 0;
    grid-area: part;
    background-color: white;
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    padding: 32px;
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .box5-icon-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
  }
  
  .box5-header {
    color: #48556a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
  
  .box5-author {

    font-size: 13px;
    font-weight: 500;
    line-height: 13px; /* 100% */
  }
  
  .box5-under-author {

    font-size: 11px;
    font-weight: 500;
    line-height: 11px; /* 100% */
    opacity: 0.5;
  }
  
  .box5-mid {

    color: #48556A;
    font-size: 20px;
    font-weight: 600;
  }
  
  .box5-btm {

    color: #48556A;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
    opacity: 0.7;
  }

  
  
}
